@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bytesized&display=swap");

:root {
  --black-purple: #201127;
  --purple: #201433;
  --black-blue: #1b1e34;
  --blue: #355d68;
  --teal: #6aaf9d;
  --light-teal: #94c5ac;
  --yellow: #ffeb99;
  --orange: #ec9a6d;
  --white-pink: #ffc27a;
  --light-pink: #d9626b;
  --pink: #c24b6e;
  --dark-pink: #a73169;

  color: var(--teal);
  background-color: var(--black-blue);

  /* Cool but too scary... */
  /* font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal; */

  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.form-container {
  padding: 4rem;
}

.form-item {
  margin-bottom: 2rem;
  display: grid;
}

input,
textarea {
  border-radius: 25px;
  border: solid var(--light-pink);
  background-color: var(--blue);
  font-family: "Bytesized", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  padding: 0.25rem;
  padding-left: 1rem;
  color: var(--black-purple);
}

.page-container {
  margin: 0 auto;
  padding: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
