@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Sono:wght,MONO@200..800,1&display=swap");

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  --pink: #edafb8;
  --pink-white: #f7e1d7;
  --bone-white: #dedbd2;
  --haze-green: #b0c4b1;
  --grey-green: #4a5759;
}

body {
  display: flex;
  background-color: var(--pink);
  color: var(--pink-white);
}

.page-container {
  margin: 0 auto;
  padding: 4rem;
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "MONO" 1;
  align-items: center;
  display: grid;
}

h1 {
  font-size: 10rem;
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
}

button {
  background-color: var(--grey-green);
  color: var(--haze-green);
  border: none;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "MONO" 1;
  transition: 0.3s all;
}

button:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: var(--bone-white);
  color: var(--grey-green);
  border: var(--grey-green) dashed;
}

dialog {
  border-style: dashed;
  border-radius: 15px;
  background-color: var(--bone-white);
  color: var(--grey-green);
}

dialog::after {
  transition: 0.3s all;
}
